<div class="prescription-container">
  <div class="prescription-container-title">
    Mes prescriptions
  </div>
  <div class="prescription-content-container">
    <div class="prescription-content-content-container">
      <div class="prescription-title">
        <div class="prescription-logo-container"><mat-icon fontIcon="access_time"></mat-icon></div>
        <p>En cours :</p>
      </div>
      <div class="prescription-content-content-content">
        <div *ngFor="let prescription of fakePrescriptionOnGoingList" class="prescription-card">
          <div class="prescription-on-going-card">
            <div><span class="label">Prescrit par : </span>{{prescription.prescription_by}}</div>
            <div><span class="label">Pour : </span>{{prescription.patient_name}}</div>
            <div><span class="label">Pathologie : </span>{{prescription.pathology}}</div>
            <div><span class="label">Nombre de séances : </span>{{prescription.session_rest + "/" + prescription.session_count}}</div>
          </div>
          <div class="prescription-on-going-button">
            <div class="prescription-on-going-button-container"><mat-icon fontIcon="edit"></mat-icon></div>
          </div>

        </div>
      </div>
    </div>

    <div class="prescription-content-content-container">
      <div class="prescription-title">
        <div class="prescription-logo-container"><mat-icon fontIcon="done"></mat-icon></div>
        <p>Terminées :</p>
      </div>
      <div class="prescription-content-content-content">
        <div *ngFor="let prescription of fakePrescriptionCompletedList" class="prescription-card">
          <div class="prescription-completed-card">
            <div><span class="label">Prescrit par : </span>{{prescription.prescription_by}}</div>
            <div><span class="label">Pour : </span>{{prescription.patient_name}}</div>
            <div><span class="label">Pathologie : </span>{{prescription.pathology}}</div>
            <div><span class="label">Nombre de séances : </span>{{prescription.session_rest + "/" + prescription.session_count}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
