$text-color: #222222;
$text-secondary-color: #404851;
$card-background-color: #F7F8FC;
$main-green-color: #2D6974;
$secondary-green-color: #68B39F;
$main-orange-color: #FFA178;
$main-blue-color: #3B7BDB;
